@import url('./assets/css/bootstrap.min.css');
.overlay{
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.75;
  z-index:-10
  }
.login{
  background-image: url('./assets/img/login-fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  }
.login .form-container{
  position: relative;
  float: none;
  margin: auto;
  top: 25%;
}

.white-text{
  color: white;
}

form .ng-invalid {
	box-shadow: red 0px 0px 4px 2px;
}
form span.error, form .mensaje {
	visibility: hidden;
	color: red;
	margin: 10px auto;
	border-radius: 5px;
	display: table;
	padding: 3px;
	text-align: center;
}
form .ng-invalid ~ span.error, form .mensaje {
	visibility: visible;
}

.lista-productos {
	background: white;
	float: left;
	border-radius: 5px;
	padding: 5px;
	height: auto;
	overflow: auto;
	position: relative;
	display: block;
}
.tienda{
    background-image: url('./assets/img/main-fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    overflow: auto;
}
.tienda li{
  margin-top:10px;
  margin-bottom: 10px;
}

.barra-superior{
  background: white;
  color: darkgrey;
  border-radius: 0 0 10px 10px;
}
.barra-superior a{
  color: darkgrey;
}
.navbar-nav > li > a {
	padding: 0;
	margin: 0 15px;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: transparent;
  color: rgb(50,50,50)
}
.item-counter {
	position: absolute;
	background: darkblue;
	border-radius: 50%;
	padding: 2px;
	font-size: 9px;
	height: 20px;
	width: 20px;
	text-align: center;
	color: white;
	font-weight: 800;
	left: 10px;
	top: 11px;
	line-height: 15px;
}
