@import url('./assets/css/bootstrap.min.css');
@import url('./assets/css/owl.carousel.min.css');
@import url('./assets/css/owl.theme.default.min.css');
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/material-icons.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(./assets/fonts/poppins.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/*@import url('https://fonts.googleapis.com/css?family=Poppins');*/

html, body{
  font-family:  'Poppins', sans-serif;
  font-size: 14px;
}
a {
	color: #ec971f;
	font-weight: 600 !important;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.cursor{
  cursor: pointer;
}
/*.overlay{
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.75;
  z-index:-10
  }*/
.login{
  background-image: url('./assets/img/login-fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-color: #636161;
  background-blend-mode: multiply;
  }
.login .form-container{
  position: relative;
  float: none;
  margin: auto;
  top: 25%;
}

.white-text{
  color: white;
}

form .ng-invalid {
	box-shadow: red 0px 0px 4px 2px;
}
form span.error, form .mensaje {
	visibility: hidden;
	color: red;
	margin: 10px auto;
	border-radius: 5px;
	display: table;
	padding: 3px;
	text-align: center;
}
form .ng-invalid ~ span.error, form .mensaje {
	visibility: visible;
}

.lista-productos {
	background: #b93d15;
	float: left;
	border-radius: 5px;
	padding: 5px;
	height: 85vh;
	overflow: auto;
	position: relative;
	display: block;
	overflow: auto;
  z-index: 10
}
.tienda{
    background-image: url('./assets/img/main-fondo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    overflow: auto;
}
.tienda li{
  margin-top:10px;
  margin-bottom: 10px;
}

.tienda li img{
  padding: 5px;
}

.btn.bottom{
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.box {
	box-shadow: 0 0 2px 0 lightgray;
	background: white;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.box.carrito {
	padding:20px;
}
.box .img{
  position: relative;
}
.box h4 {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	background: #b46314b3;
	padding: 4px;
	color: white;
}

.box.footer{
  background-color: white;
  text-align: center;
}

.box.footer a:hover{
 font-size: 102%;
  text-align: center;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.flex{
  display:flex;
  flex-wrap: wrap;
}
.flex img{
    display: flex;
    flex: 1;
}
.box .titulo {
	border-bottom: solid 2px lightgray;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.informacion {
	background: #ededed;
	padding: 6px;
	border-top: solid lightgray 1px;
	display: table;
	width: 100%;
}
.tienda li .btn, .tienda li input{
  font-size: 12px;
  height: 30px
}
.barra-superior{
  background: #802314;
  color: white;
  z-index: 20
}
.barra-superior a{
  color: #e4e4e4;
}

.navbar {
	margin-bottom: 0;
}

.navbar-nav > li > a {
	padding: 0;
	margin: 0 15px;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: transparent;
  color: white
}
.item-counter {
	position: absolute;
	background: darkblue;
	border-radius: 50%;
	padding: 2px;
	font-size: 9px;
	height: 20px;
	width: 20px;
	text-align: center;
	color: white;
	font-weight: 800;
	left: 10px;
	top: 11px;
	line-height: 15px;
}

.no-padding{
  padding:0 !important;
}
li.list-group-item {
	margin:0;
}
li.list-group-item img{
  height: auto;
  width: 100%;
}
li.list-group-item .footer {
	display: table;
	width: 100%;
	padding: 0px 20px;
	font-weight: 600;
	border-top: solid 1px lightgray;
}
.animated.fast {
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.animated.slow {
  animation-duration: 2.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@media(min-width: 1024px){
  li.list-group-item img{
    height: 150px;
    width: auto;
  }
  .informacion {
  	padding: 10px 20px;
  	border-top: 0;
    width: auto;
  }
}
